<html>
	<head>
		<title>登陆—T_info_together</title>
	</head>
	<body>

		<!-- 登陆框 -->
		<form action="" method="post">
		<table>
			<tr></tr>
			<tr>
				<td>用户名:</td>
				<td><input type="text" name="username"/></td>
			</tr>
			<tr>
				<td>密码:</td>
				<td><input type="password" name="password"/></td>
			</tr>
			<tr>
				<td><input type="checkbox" name="rem_me" value="1"/>记住我</td>
				<td><a href="forget_pwd.html">忘记密码</a></td>
			</tr>
			<tr>
				<td><input type="submit" value="登陆"/></td>
				<td><a href="reg.html">注册</a></td>
			</tr>
		</table>
		</form>
		<!-- End(登陆框) -->

	</body>
</html>